@charset "utf-8";

*{
	padding: 0px;
	margin: 0px;
	} 

body{
	background-color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	}

h1{
	font-size:27px;
	font-weight:normal;
	}
	
h2{
	font-size:24px;
	}
	
a{
	color:#000000;
	text-decoration:underline;
	}

img{
	border-width:0px;
	}

a:hover{
	text-decoration:none;
	}

	.bg-website{
		background-image:url(../images/website-bg.jpg);
		width:1100px;
		height:750px;
		margin: 0 auto;
		}
		
		.header{
			width:955px;
			height:130px;
			margin: 0 auto;
			}
			
			.logo{
				background-image:url(../images/logo-ccc.png);
				background-position:center;
				background-repeat:no-repeat;
				width:138px;
				height:80px;
				}
			
			.main-navigation{
				background-color:#000000;
				background-image:url(../images/main-navigation-bg.gif);
				background-position:top;
				background-repeat:repeat-x;
				width:955px;
				height:48px;
				color:#FFFFFF;
				border-top:#FFFFFF 1px solid;
				border-bottom:#838282 1px solid;
				}
				
				.main-navigation-border-left{
					background-color:#838282;
					background-image:url(../images/main-navigation-border.gif);
					background-repeat:no-repeat;
					width:1px;
					height:48px;
					float:left;
					}
				
				.main-navigation ul li{
					/* border-right:#FFFFFF 1px solid; */
					display:block;
					float:left;
					height:20px;
					text-align:center;
					padding-top:2px;
					padding-left:43px;
					padding-right:43px;
					margin-top:10px;
					}
					
					.menu-item{
						background-image:url(../images/menu-item-line.gif);
						background-position:right;
						background-repeat:no-repeat;
						font-weight:bold;
						}
						
					.menu-item-right{
						font-weight:bold;
						}
					
					.main-navigation ul li a{
						color:#FFFFFF;
						text-decoration:none;
						font-size:18px;
						}
					
					.main-navigation ul li a:hover{
						color:#999999;
						text-decoration:none;
						font-size:18px;
						}
						
						
						.menu-item-right{
							border-right:0px;
							}
				
				.main-navigation-border-right {
					background-color:#838282;
					background-image:url(../images/main-navigation-border.gif);
					background-repeat:no-repeat;
					width:1px;
					height:48px;
					float:right;
					}
		
		.middle-container{
			background-color:#FFFFFF;
			width:955px;
			min-height:485px;
			margin: 30px auto;
			line-height:25px;
			}
			
			.content-shadow{
				background-image:url(../images/shade-right.png);
				background-position:right;
				background-repeat:repeat-y;
				width:590px;
				min-height:445px;
				float:left;
				margin-top:-15px;
				margin-left:-20px;
				padding-bottom:5px;
				}
				
				.content{
					background-color:#FFFFFF;
					width:565px;
					min-height:425px;
					padding:10px;
					}
					
				.content h1, button{
					margin-top:10px;
					float:right;
					margin-right:145px;
					}
				
					.button{
						background-image:url(../images/reserveer-button.png);
						float:right;
						margin-right:-350px;
						width:120px;
						height:51px;
						}
						
					.button:hover{
						background-image:url(../images/reserveer-button-hover.png);
						float:right;
						margin-right:-350px;
						width:120px;
						height:51px;
						}
					
				.shade-top{
					background-image:url(../images/shade-top-right.png);
					background-position:top;
					background-repeat:no-repeat;
					position:absolute;
					width:5px;
					height:10px;
					margin-left:585px;
					}
					
				.shade-bottom-right{
					background-image:url(../images/shade-bottom-right.png);
					background-position:top;
					background-repeat:no-repeat;
					position:absolute;
					width:5px;
					height:5px;
					margin-left:585px;
					}
					
				.shade-bottom{
					background-image:url(../images/shade-bottom.png);
					background-position:top;
					background-repeat:no-repeat;
					height:5px;
					width:590px;
					margin-bottom:-5px;
					}
			
			.column-right{
				width:380px;
				min-height:415px;
				margin-left:565px;
				margin-right:10px;
				}
				
				.column-right-top{
					background-color:#575757;
					background-image:url(../images/item-top-bg.png);
					background-position:top;
					background-repeat:repeat-x;
					color:#FFFFFF;
					padding-left:40px;
					padding-top:20px;
					padding-bottom:27px;
					}
					
					.column-right-top h2{
						font-style:italic;
						}
				
				.item-right-active{
					background-color:#dddcdc;
					background-image:url(../images/item-right-active-bg.gif);
					background-position:bottom;
					background-repeat:repeat-x;
					border:#c3c3c3 1px solid;
					padding: 20px 50px 20px 40px;
					}
					
					.active-arrow{
						background-image:url(../images/active-arrow.png);
						background-repeat:no-repeat;
						background-position:left;
						position:absolute;
						width:26px;
						height:47px;
						float:left;
						margin-left:-41px;
						margin-top:15px;
						}
				
				.item-right-middle{
					background-color:#575757;
					background-image:url(../images/item-middle-bg.png);
					background-position:bottom;
					background-repeat:no-repeat;
					padding: 20px 50px 20px 40px;
					color:#FFFFFF;
					}
				
				.item-right{
					background-color:#575757;
					padding: 20px 50px 20px 40px;
					color:#FFFFFF;
					}
			
			.footer{
				background-color:#FFFFFF;
				width:955px;
				clear:both;
				padding-top:15px;
				padding-bottom:20px;
				text-align:center;
				}

